<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AlquilerVehiculosApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlquilerVehiculos"
        tools:targetApi="31">

        <activity
            android:name=".VehiculosListActivity"
            android:exported="false"
            android:label="Lista de Vehículos" />

        <activity
            android:name=".HomeAdminActivity"
            android:exported="false"
            android:label="Panel de Administrador" />
        <activity
            android:name=".DashboardAdminActivity"
            android:exported="false"
            android:label="Dashboard de Administrador" />
        
        <!-- 🔑 SOLUCIÓN: Se registra la nueva DashboardActivity para que la app no crashee al intentar abrirla. -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="Dashboard de Estadísticas" />

        <!-- Actividad añadida para evitar crash -->
        <activity
            android:name=".GestionVehiculosActivity"
            android:exported="false"
            android:label="Gestión de Vehículos" />

        <activity
            android:name=".MisVehiculosReservadosActivity"
            android:exported="false" />
        <activity
            android:name=".MisReservasActivity"
            android:exported="false" />
        <activity
            android:name=".VehiculoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".VehiculoActivity"
            android:exported="false" />
        <activity
            android:name=".CatalogActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".UserListActivity"
            android:exported="false"
            android:label="Lista de Usuarios" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="Registro de Usuario" />
    </application>

</manifest>